body {
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
  text-align: center;
  padding-top: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
h2,
h5,
h4 {
  text-align: left;
}
h6 {
  text-align: center;
}
li.first-letter {
  text-transform: capitalize;
}
.weather-app {
  max-width: 800px;
  max-height: fit-content;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 30px;
  background-color: #c6f9d6;
}
.weather-temperature {
  border-radius: 30px;
  border: 1px solid #fefcd3;
  background-color: #fefcd3;
  padding: 30px 10px;
}

.weather-temperature img {
  height: 90px;
}
.weather-temperature strong {
  font-size: 70px;
  line-height: 1;
}
.weather-temperature span,
h4 {
  list-style: none;
  text-align: left;
  text-transform: capitalize;
}
