body {
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
}
h2,
h5 {
  text-align: left;
}
.weather-app {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ab96db;
  border-radius: 30px;
  background-color: #ab96db;
}
.weather-temperature {
  border: 1px solid #fefcd3;
  border-radius: 30px;
  background-color: #ab96db;
  padding: 10px;
}
.weather-temperature img {
  height: 60px;
}
.weather-temperature strong {
  font-size: 60px;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
}
